h1{ 

    color:rgb(36, 157, 102);
    margin: 10;
}
   
h2 {
    text-align: center;
    color: orange;
}

p{

    color:green
}


.mi-descripcion p {
        color:rgb(172, 224, 94);
        text-align: center;

}

.contenedor-tarjeta  {

        background-color: rgb(140, 238, 255);
        align-content: center;
        align-items: center;
}

.datos-contacto{
    text-align: center;
}

/**{}